doctype html
html(lang='en')
head
    title  #{title}
    link(rel="stylesheet", href="/stylesheets/index.css")
body
    h1 
        a(href="/") Welcome
        h2 There are not the "#{textError}" in the system.