doctype html
html(lang='en')
head
    title  #{title}
    link(rel="stylesheet", href="/stylesheets/index.css")
body
    h1 
        a(href="fruits.com") Buying tshirt color #{color}
    div.item
        h2 Preview
        h2 #{datos.image}
        img(src=datos.image, alt="tshirt")