doctype html
html(lang="en")

head
    title  #{title}
body
    h1 
        a(href="googlemaps.com") Biemvenido
    div
        p #{text}
        img(src="/images/2.jpeg", alt="shirt") 
    h2 We Shirts
    ul 
        li shirt 1
        li shirt 2
        li shirt 3

