doctype html
html(lang="en")

head
    title  This is the name of my app
body
    h1 
        a(href="googlemaps.com") Biemvenido
    div
        p We store of shits offer the beter
        img(src="/images/1.jpeg", alt="shirt") 
    h2 We Shirts
    ul 
        li shirt 1
        li shirt 2
        li shirt 3

